@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--light-gray);
  display: grid;
  justify-content: center; }

.card {
  max-width: 63.5rem;
  margin: 16rem 3.2rem;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 23.43em) {
    .card {
      max-width: 31.1rem;
      grid-template-columns: 1fr;
      margin: 7rem 3rem; } }
  .card__header {
    grid-column: 1 / 3;
    padding: 4rem;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    @media only screen and (max-width: 23.43em) {
      .card__header {
        padding: 2.4rem;
        grid-column: 1; } }
  .card__header-heading {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.1;
    color: var(--cyan);
    margin-bottom: 2.4rem;
    letter-spacing: -0.3px; }
    @media only screen and (max-width: 23.43em) {
      .card__header-heading {
        font-size: 2rem;
        letter-spacing: -0.25px; } }
  .card__header-sub-heading {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.22px;
    color: var(--bright-yellow);
    margin-bottom: 1.1rem; }
    @media only screen and (max-width: 23.43em) {
      .card__header-sub-heading {
        font-size: 1.5rem;
        letter-spacing: -0.19px;
        line-height: 1.3;
        margin-bottom: 1.6rem; } }
  .card__header-paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--grayish-blue);
    letter-spacing: -0.2px; }
    @media only screen and (max-width: 23.43em) {
      .card__header-paragraph {
        font-size: 1.4rem;
        line-height: 1.8;
        letter-spacing: -0.17px; } }
  .card__subscription {
    background-color: var(--cyan);
    color: var(--light-gray);
    padding: 4rem;
    border-bottom-left-radius: 8px; }
    @media only screen and (max-width: 23.43em) {
      .card__subscription {
        padding: 2.4rem;
        border-bottom-left-radius: 0; } }
  .card__subscription-sub-heading {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.1;
    color: #fcfdfd;
    letter-spacing: -0.22px;
    margin-bottom: 1.8rem; }
  .card__subscription-price {
    font-size: 3.2rem;
    font-style: 700;
    line-height: 1.1;
    letter-spacing: -0.4px;
    color: #ffffff; }
  .card__subscription-per-month {
    font-size: 1.6rem;
    line-height: 1.6;
    color: rgba(229, 239, 245, 0.585);
    letter-spacing: -0.2px; }
  .card__subscription-paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #ffffff;
    letter-spacing: -0.2px;
    margin-top: 0.4rem; }
  .card__social-proof {
    background-color: #4bbebc;
    color: var(--light-gray);
    padding: 4rem;
    border-bottom-right-radius: 8px; }
    @media only screen and (max-width: 23.43em) {
      .card__social-proof {
        padding: 2.4rem;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px; } }
  .card__social-proof-heading {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.22px;
    color: #ffffff;
    margin-bottom: 1.8rem; }
  .card__social-proof-paragraph {
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: -0.17px; }
    @media only screen and (max-width: 23.43em) {
      .card__social-proof-paragraph {
        max-width: 21ch; } }

.btn {
  display: inline-block;
  border: 0;
  cursor: pointer;
  margin-top: 2.6rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--light-gray);
  background-color: var(--bright-yellow);
  width: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 1.5rem;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
  transition: all ease-in 0.5s; }
  .btn:hover {
    background-color: #b2cf30; }
