@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

$bp-desktop: 90em; //1440px
$bp-mobile: 23.43em; //375px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--light-gray);
  display: grid;
  justify-content: center;
}
